# develop in python 3.11.9
# fastapi[standard]
fastapi[standard]==0.115.12
uvicorn[standard]
sqlalchemy==2.0.39
alembic==1.15.1
mysql-connector-python
werkzeug
python-jose[cryptography] 
pydantic-settings 
python-dotenv 
passlib[bcrypt]