.boxGallery {
  width: 100%;
  position: relative;
  .container {
    width: 100%;
    position: relative;
    .galleryTop {
      border: 1px solid #d1d5db;
      border-radius: 15px;
      width: 100%;
      aspect-ratio: 1.77;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      margin-bottom: 10px;
      cursor: pointer;
      .prevGallery {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        svg {
          width: 30px;
        }
      }
      .nextGallery {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        svg {
          width: 30px;
        }
      }

      .prevGallery,
      .nextGallery {
        cursor: pointer;
        opacity: 0;
        z-index: 1000;
        // &:hover {
        //   opacity: 0.8;
        // }
      }

      &:hover {
        .prevGallery,
        .nextGallery {
          opacity: 0.8;
        }
      }
      .wrapperSliding {
        height: 100%;
        display: flex;
        gap: 20px;
        transition-property: transform;
        transition: transform 0.01s ease-in-out;
        width: fit-content;

        &.active {
          transition: transform 0.01s ease-in-out !important;
        }
        .slide {
          height: 100%;
          align-items: center;
          // background: linear-gradient(90deg, #dd5e89, #f7bb97);
          background-color: white;
          border: 0;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          text-align: center;

          .imageLink {
            height: 100%;
            width: auto;

            .slideImg {
              height: 100%;
              width: auto;
            }
          }
        }
      }
    }

    .galleryBottom {
      width: 100%;
      overflow: hidden;
      position: relative;
      height: 57px;
      padding: 2px;
      .wrapperSlidingThumbs {
        height: 100%;
        display: flex;
        gap: 10px;
        transition-timing-function: ease-out;
        position: relative;
        width: fit-content;
        .thumbItem {
          height: 100%;
          aspect-ratio: 1;
          background: #fff;
          border-radius: 0.5rem;
          box-shadow: 0 0 0 1px #d1d5db;
          cursor: pointer;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          // padding: 5px;
          .thumbItemImg {
            height: 100%;
            object-fit: cover;
          }
        }

        .thumbItemActive {
          box-shadow: 0 0 0 1px #d70018 !important;
        }
      }
    }
  }
}
