.choose-shop-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  z-index: 2000;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: hsla(0, 0%, 100%, 0.808);
    z-index: 2000;
  }

  .choose-shop-modal-inner {
    position: fixed;
    right: 0;
    top: 0;
    transition: transform 500ms cubic-bezier(0.32, 0.72, 0, 1);
    width: 450px;
    height: 100vh;
    // max-height: 100vh;
    background-color: #fff;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.08),
      0 28px 32px 1px rgba(0, 0, 0, 0.12);
    z-index: 2001;
    display: flex;
    flex-direction: column;

    .wrapper-confirm-btn {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 1rem;

      .confirm-btn {
        width: 100%;
        padding: 10px 0;
        background-color: #dc2626;
        color: white;
        font-size: 16px;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #c72828;
        }

        &:active {
          background-color: #b82828;
        }
      }
    }
    .choose-shop__title {
      padding: 0.7rem 1rem;
      border-bottom: 2px solid #d1d5db;
      position: relative;
      font-size: 15px !important;
      line-height: 28px !important;
      color: #090d14;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .close-btn {
        display: flex;
        align-items: center;
        // svg {
        //   fill: #dc2626;
        // }
      }
    }

    .choose-shop__content {
      padding: 1rem;
      width: 100%;
      background-color: #f3f4f6 !important;
      margin-bottom: 80px;
      flex-grow: 1;
      overflow-y: auto;
      .select-shop {
        width: 100%;
        display: flex;
        gap: 15px;

        .select-shop-item {
          width: 50%;
          position: relative;
          .dropdown-icon {
            position: absolute;
            right: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
          }
          input {
            width: 100%;
            display: flex;
            border: 1px solid #e5e7eb;
            border-radius: 0.5rem;
            padding: 0.5rem 0.75rem;
            padding-right: 1.5rem;
            outline: none;
            font-size: 14px;
            font-weight: 300;
            cursor: default;
            &:focus {
              border-color: #191a1a;
              cursor: text;
            }

            &::placeholder {
              color: #6b7280;
            }
          }

          .list-city {
            position: absolute;
            top: 120%;
            width: 100%;
            border: 1px solid #e5e7eb;
            border-radius: 0.5rem;
            // padding: 0.5rem 0.75rem;
            font-size: 14px;
            font-weight: 300;
            list-style: none;
            .city-item {
              padding: 0.75rem;
              cursor: pointer;

              &:hover {
                background-color: #f3f4f6;
              }

              &:first-child {
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
              }

              &:last-child {
                border-bottom-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
              }
            }
          }
        }
      }

      .list-store {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        .store-item {
          padding: 0.5rem 1rem !important;
          background-color: #fff !important;
          border-radius: 0.8rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          cursor: pointer;
          border: 1px solid;
          border-color: #fff;

          .store-item__header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .store-item__name {
              padding: 0.25rem 0.5rem;
              background-color: #f3f4f6;
              border-radius: 0.8rem !important;
              color: #090d14;
              font-size: 12px;
            }

            .select-store-radio {
              input {
                display: none;
              }

              label {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                // background-color: #dc2626;
                border: 1px solid #dc2626;
                cursor: pointer;
                &::after {
                  content: "";
                  display: block;
                  height: 9.5px !important;
                  aspect-ratio: 1 !important;
                  border-radius: 50%;
                  background-color: #dc2626;
                  opacity: 0;
                }
              }

              input:checked + label::after {
                opacity: 1;
              }

              // input:checked {
              //   ~ .store-item {
              //     border-color: #dc2626 !important; /* Màu border khi checked */
              //   }
              // }
            }
          }

          .store-address {
            font-size: 14px !important;
            line-height: 20px !important;
            font-weight: 400 !important;
            color: #090d14 !important;
          }

          .store-item__footer {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .go-to-map-btn {
              padding: 0.3rem 0.75rem;
              border-radius: 9999px !important;
              background-color: #dc2626;
              display: flex;
              align-items: center;
              gap: 0.5rem;
              color: white;
            }

            .time-delivery {
              display: flex;
              gap: 10px;
              color: #d97706;
              font-size: 12px;
              align-items: center;
            }
          }
        }

        .store-item--active {
          border-color: #dc2626 !important;
        }
      }
    }
  }
}
